#s-ee9f5386-be0a-40b8-9a7d-5e3413618840 > #backgroundBox {
  position: absolute;
}
#s-ee9f5386-be0a-40b8-9a7d-5e3413618840 > #alignmentBox {
  position: relative;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ee9f5386-be0a-40b8-9a7d-5e3413618840 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}